#header_body{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:white;
    font-family:Arial;
    color:#000000;
}

#header_body.btn-group{
    height: 45px;
    position:absolute;
    right:20px;
    top:20px;
}