#header_body{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:white;
    font-family:Arial;
    color:#000000;
}

#navbar_btn_group{
    height: 45px;
    position:absolute;
    right:20px;
    top:5px;
}

#bodyPanier{
    background: #f2f2f2;
}

#bodyPanier .panierProduit{
    background: #fff;
    margin-bottom: 20px;
  
}
#bodyPanier .recapPanier{
    background: #fff;
    margin-bottom: 20px;
  
}
#bodyPanier .panierProduit{
    padding: 5px 15px;
}
#bodyPanier .recapPanierInfo{
    padding: 10px 20px;
}
#bodyPanier .valeurPanier,
#bodyPanier .valeurEconomiePanier,
#bodyPanier .valeurTotalPanier{
    float: right;
        
}
#bodyPanier .titreTotalPanier{
   font-size: 18px;
   font-weight: 700;
   
}
#bodyPanier .valeurTotalPanier{
    color: red;
}
#bodyPanier .produitPrix{
    font-size: 18px;
    line-height: 24px;
    float: right;
    margin-bottom: 25px;
}
#bodyPanier .colPrixQte{
    display: flex;
    flex-direction: column
}

#bodyPanier .colPrixQte .qteProduit{
    padding: 3px;
    margin: 0 10px;
}

#contenuAccueil {
    padding-top: 100px; 
    padding-left: 140px;
}

header{
    display: flex; 
    background-color:white; 
    position: fixed; 
    width: 100%; 
    z-index: 999;
    
}

#menu-div{
    width:100px; 
    position: fixed;
    margin-top: 100px;
}
