*{
    font-family: 'Roboto', sans-serif;
   
   
}

/***************************/
/***Accueil.jsp**/
/****************************/
#bodyAccueil{
     background: #f2f2f2;
}

#bodyAccueil .imgProduit{ 
    width: 40%;
    height:40%;
    
    
}
#bodyAccueil .spanPromo{
    float: right;
    margin: 15px;
    color: red;
    background-color: yellow;
    width: 50%;
    font-weight: bold;
    text-align: center;
       
}
#bodyAccueil .spanPrixSansPromo{
    text-decoration: line-through;
    margin-right: 5px;
}
#bodyAccueil .row {
   display: flex;
   flex-wrap: wrap;
}

#bodyAccueil .row > div[class*='col-'] {
  display: flex;
}
#bodyAccueil .card{
    width:18rem;
}
#bodyAccueil .cardProduit {
    margin-bottom: 15px;
}
#bodyAccueil a{
    cursor: pointer;
}
#headerAccueil {
   margin-bottom:  20px;
   margin-top:   20px;
   z-index: 99;
   
}


/***************************/
/***VisualisationPanier.jsp**/
/****************************/
#bodyPanier{
    background: #f2f2f2;
}

#bodyPanier .panierProduit{
    background: #fff;
    margin-bottom: 20px;
  
}
#bodyPanier img {
    width: 50%;
    height:50%;
    max-height: 150px;
    max-width: 150px;
    
}
#bodyPanier .recapPanier,
#bodyPanier .recapFidelite{
    background: #fff;
    margin-bottom: 20px;
  
}
#bodyPanier .panierProduit{
    padding: 5px 15px;
}
#bodyPanier .recapPanierInfo,
#bodyPanier .recapFideliteInfo{
    padding: 10px 20px;
}
#bodyPanier .valeurPanier,
#bodyPanier .valeurEconomiePanier,
#bodyPanier .valeurTotalPanier, 
#bodyPanier .valeurPointsFidelite{
    float: right;
        
}
#bodyPanier .titreTotalPanier{
   font-size: 18px;
   font-weight: 700;
   font-weight: bold;
}
#bodyPanier .valeurTotalPanier{
    font-size: 18px;
    font-weight: 700;
}
#bodyPanier .produitPrix{
    font-size: 18px;
    line-height: 24px;
    /*float: right;*/
    margin-bottom: 25px;
}
#bodyPanier .colPrixQte{
    display: flex;
    flex-direction: column
}

#bodyPanier .colPrixQte .qteProduit{
    padding: 3px;
    margin: 0 10px;
}

#bodyPanier .spanPromo{
    color: red;
    text-shadow: 3px 4px 2px yellow;
    font-weight: bold;
}

#bodyPanier .styleFontGris{
    color:gray;
}

#bodyPanier .styleFontItalic{
    font-style: italic;
}

#bodyPanier .styleLib{
    font-size: large;
    font-weight: bold;
}

#bodyPanier .atCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50% auto 0;
    transform: translateY(-50%);
}

#bodyPanier .atCenterHorizontal{
    display: flex;
    justify-content: center;
}

#bodyPanier .headerPanier{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contenuAccueil {
    padding-top: 100px; 
    padding-left: 140px;
}

/***************************/
/***Connexion.jsp**/
/****************************/
#bodyConnexion{
    background: #f2f2f2;
}
#bodyConnexion form {
    border: 0 solid #ffffff;
    padding: 30px 40px;
    margin-top: 20vh;
    box-shadow: -1px 4px 26px 11px rgba(255, 255, 255, 0.5); 
}
/***************************/
/***ListeCourses.jsp**/
/****************************/

#bodyListeCourses h3 ,
#bodyNouvelleListe h3{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
#bodyListeCourses table{
    border: 1;
}

#bodyListeCourses table th {
    text-align: center;
}
#bodyListeCourses table tr {
    text-transform: uppercase
}
#bodyListeCourses .btnContainer,
#bodyNouvelleListe .btnContainer
{
    display: flex;
    justify-content: space-between;
}
/***************************/
/***AjouterCourses.jsp**/
/****************************/
#bodyNouvelleListe .btnContainer{
    margin: 15px 10px;
}


