<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VisualiserPanier</servlet-name>
        <jsp-file>/vue/VisualiserPanier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <jsp-file>/vue/Accueil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlAjouterCrouses</servlet-name>
        <servlet-class>neopro.ctrl.CtrlAjouterCrouses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlGererCrouses</servlet-name>
        <servlet-class>neopro.ctrl.CtrlGererCrouses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCourses</servlet-name>
        <jsp-file>/vue/ListeCourses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AjouterCourses</servlet-name>
        <jsp-file>/vue/AjouterCourses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlMenu</servlet-name>
        <servlet-class>neopro.ctrl.CtrlMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlModificationQuantite</servlet-name>
        <servlet-class>neopro.ctrl.CtrlModificationQuantite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlSupprimerProduitPanier</servlet-name>
        <servlet-class>neopro.ctrl.CtrlSupprimerProduitPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <jsp-file>/vue/Search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlConnexion</servlet-name>
        <servlet-class>neopro.ctrl.CtrlConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <jsp-file>/vue/Connexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlValiderPanier</servlet-name>
        <servlet-class>neopro.ctrl.CtrlValiderPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choix</servlet-name>
        <jsp-file>/vue/choixCreneauMagasin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlFiltrageParRayon</servlet-name>
        <servlet-class>neopro.ctrl.CtrlFiltrageParRayon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtrerArticlesParRayon</servlet-name>
        <jsp-file>/vue/filtrerArticlesParRayon.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlTransmettreListePanier</servlet-name>
        <servlet-class>neopro.ctrl.CtrlTransmettreListePanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlAjouterProduitPanier</servlet-name>
        <servlet-class>neopro.ctrl.CtrlAjouterProduitPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlFiltrageParCategorie</servlet-name>
        <servlet-class>neopro.ctrl.CtrlFiltrageParCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualiserListe</servlet-name>
        <jsp-file>/vue/VisualiserListe.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlInserer</servlet-name>
        <servlet-class>neopro.ctrl.CtrlInserer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagePersonnelle</servlet-name>
        <jsp-file>/vue/PagePersonnelle.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlChoixMagasin</servlet-name>
        <servlet-class>neopro.ctrl.CtrlChoixMagasin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choixCreneauMagasin</servlet-name>
        <jsp-file>/vue/choixCreneauMagasin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisualiserPanier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAjouterCrouses</servlet-name>
        <url-pattern>/CtrlAjouterCrouses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlGererCrouses</servlet-name>
        <url-pattern>/CtrlGererCrouses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCourses</servlet-name>
        <url-pattern>/ListeCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCourses</servlet-name>
        <url-pattern>/AjouterCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlMenu</servlet-name>
        <url-pattern>/CtrlMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConnexion</servlet-name>
        <url-pattern>/CtrlConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlValiderPanier</servlet-name>
        <url-pattern>/CtrlValiderPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choix</servlet-name>
        <url-pattern>/choix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlFiltrageParRayon</servlet-name>
        <url-pattern>/CtrlFiltrageParRayon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtrerArticlesParRayon</servlet-name>
        <url-pattern>/filtrerArticlesParRayon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlModificationQuantite</servlet-name>
        <url-pattern>/CtrlModificationQuantite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSupprimerProduitPanier</servlet-name>
        <url-pattern>/CtrlSupprimerProduitPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlTransmettreListePanier</servlet-name>
        <url-pattern>/CtrlTransmettreListePanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAjouterProduitPanier</servlet-name>
        <url-pattern>/CtrlAjouterProduitPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlFiltrageParCategorie</servlet-name>
        <url-pattern>/CtrlFiltrageParCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualiserListe</servlet-name>
        <url-pattern>/VisualiserListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlInserer</servlet-name>
        <url-pattern>/CtrlInserer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagePersonnelle</servlet-name>
        <url-pattern>/PagePersonnelle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlChoixMagasin</servlet-name>
        <url-pattern>/CtrlChoixMagasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choixCreneauMagasin</servlet-name>
        <url-pattern>/choixCreneauMagasin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
